
{% extends 'base.html' %}
{% block title %}Mapping Fatal Police Shootings: About{% endblock %}

{% block body %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
<style>
  h1
  {
  color:white;
  font-family: 'Inconsolata', monospace;
  }
  body {
    color: white
  }
</style>
  <center><h1>ABOUT THIS PROJECT</h1></center>
  <p></p>
  <br>
  <br>
  Per The Post's github: "The Post is documenting only those shootings in which a police officer, in the line of duty, shoots and kills a civilian — the circumstances that most closely parallel the 2014 killing of Michael Brown in Ferguson, Mo., which began the protest movement culminating in Black Lives Matter and an increased focus on police accountability nationwide. The Post is not tracking deaths of people in police custody, fatal shootings by off-duty officers or non-shooting deaths."
  <br>
  
  </form>

{% endblock %}