<!-- holds all consistent page fields -->
<!-- display that the user is logged in one they've created an account -->

<!doctype html>
<html>
  <head>
  <script src="https://code.jquery.com/jquery-3.6.0.js" 
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
  crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
      {% block head %}
      {% if 'user_id' in session %}
      Hello {{session.username}}
      {% endif %}
      {% endblock %}
    <ul>
        {% if 'user_id' in session %}
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login </a></li>
        <li><a href="/sign_up">Sign Up</a></li>
        {% endif %}
    </ul>
  </head>
  <body>
    {% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>