<!-- the homepage should display the map, any statistics or graphs I get to adding (NOT sprint 1),
and a link to a page for the user to create a login or sign up + a link for the page of resources -->

{% extends 'base.html' %}
{% block title %}Mapping Fatal Police Shootings{% endblock %}

{% block body %}
  <h1>Mapping Fatal Police Shootings</h1>

  <div id ="map" style="width: 100%; height: 600px;"></div>
  <script src="/static/map.js"></script>
  <script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOhul_8_NlZMIdPGP42RvAuEtXxx63AkM&callback=initMap">
  </script>
  <ul>
    <li><a href="/resources">View all resources</a></li>
  </ul>
{% endblock %}