<!-- allow the user to log in to their existing account using their username and password -->
<!-- there should be a shortcut off of this to create a new account -->


{% extends 'base.html' %}
{% block title %}Mapping Fatal Police Shootings: Log In to your Account{% endblock %}

{% block body %}
<html>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
      <style>
      h1
      {
      color:white;
      font-family: 'Inconsolata', monospace;
      }
      body {
      color: white
      }
      </style>
      <br>
  <center><h1>LOG IN TO YOUR ACCOUNT</h1></center>
  <br>
  <center><form action="/login" method="POST">
    <p>
      <input name="username" type="text" style="color:black" placeholder="username" required>
    </p>
    <p>
      <input name="password" type="password" style="color:black" placeholder="password" required>
    </p>
    <p>
      <input type="submit" style="color:white; background-color:#439D94">
    </p>
  </form>
  
    Don't have an account? <br> You can create one by <a href="/sign_up" style="color:#439D94">clicking here</a>
  </center>
 
{% endblock %}