<!-- this page should display a list of resources (currently randomized) -->
<!-- it will also contain a field for the user to enter their own resource and add it to the db -->
<!-- - in theory this ensures the user isn't entering a repeat resource, 
    but I imagine I could code to make sure it's unique, right? -->


{% extends 'base.html' %}
{% block title %}Resources{% endblock %}

{% block body %}
  <h1>Organizations and Resources to Support</h1>
  <p>
  <h2>*imagine a list of organizations*</h2></p>
  <p></p>
  <form action="/resource" method="POST">
    <p>
      Organization name <input type="text" name="org_name" required>
    </p>
    <p>
      URL <input type="url" name="url" required>
    </p>
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Phone <input type="text" name="phone">
    </p>
    <p>
      City <input type="text" name="city">
    </p>
    <p>
      State <select name = "state">
        <option value="alabama">Alabama</option>
        <option value="alaska">Alaska</option>
        <option value="arizona">Arizona</option>
        <option value="arkansas">Arkansas</option>
        <option value="california">California</option>
        <option value="colorado">Colorado</option>
        <option value="connecticut">Connecticut</option>
        <option value="delaware">Delaware</option>
        <option value="florida">Florida</option>
        <option value="georgia">Georgia</option>
        <option value="hawaii">Hawaii</option>
        <option value="idaho">Idaho</option>
        <option value="illinois">Illinois</option>
        <option value="indiana">Indiana</option>
        <option value="iowa">Iowa</option>
        <option value="kansas">Kansas</option>
        <option value="kentucky">Kentucky</option>
        <option value="louisiana">Louisiana</option>
        <option value="maine">Maine</option>
        <option value="maryland">Maryland</option>
        <option value="massachusetts">Massachusetts</option>
        <option value="michigan">Michigan</option>
        <option value="minnesota">Minnesota</option>
        <option value="mississippi">Mississippi</option>
        <option value="missouri">Missouri</option>
        <option value="montana">Montana</option>
        <option value="nebraska">Nebraska</option>
        <option value="nevada">Nevada</option>
        <option value="new_hampshire">New Hampshire</option>
        <option value="new_jersey">New Jersey</option>
        <option value="new_mexico">New Mexico</option>
        <option value="new_york">New York</option>
        <option value="north_carolina">North Carolina</option>
        <option value="north_dakota">North Dakota</option>
        <option value="ohio">Ohio</option>
        <option value="oklhahoma">Oklahoma</option>
        <option value="oregon">Oregon</option>
        <option value="pennsylvania">Pennsylvania</option>
        <option value="rhode_island">Rhode Island</option>
        <option value="south_carolina">South Carolina</option>
        <option value="south_dakota">South Dakota</option>
        <option value="tennessee">Tennessee</option>
        <option value="texas">Texas</option>
        <option value="utah">Utah</option>
        <option value="vermont">Vermont</option>
        <option value="virginia">Virginia</option>
        <option value="washington">Washington</option>
        <option value="west_virginia">West Virginia</option>
        <option value="wisconsin">Wisconsin</option>
        <option value="wyoming">Wyoming</option>
      </select>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}