<!-- code in a page for users to create a user and add it to the users db -->
<!-- this page should route back to the homepage, and flash an alert that states the user has created a login -->

<!-- I would like to find a more aesthetically pleasing way to display the words Username, Password, etc, 
in the way if you went to create an account on Google it's a "shadow" in the text box then moves above it... -->

{% extends 'base.html' %}
{% block title %}Create your Account{% endblock %}

{% block body %}
  <h1>Create your Account</h1>

  <form action="/sign_up" method="POST">
    <p>
      Username <input type="text" name="username" required>
    </p>
    <p>
      Password <input type="password" name="password" required>
    </p>
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      City <input type="text" name="city">
    </p>
    <p>
      State <select name = "state">
        <option value="alabama">Alabama</option>
        <option value="alaska">Alaska</option>
        <option value="arizona">Arizona</option>
        <option value="arkansas">Arkansas</option>
        <option value="california">California</option>
        <option value="colorado">Colorado</option>
        <option value="connecticut">Connecticut</option>
        <option value="delaware">Delaware</option>
        <option value="florida">Florida</option>
        <option value="georgia">Georgia</option>
        <option value="hawaii">Hawaii</option>
        <option value="idaho">Idaho</option>
        <option value="illinois">Illinois</option>
        <option value="indiana">Indiana</option>
        <option value="iowa">Iowa</option>
        <option value="kansas">Kansas</option>
        <option value="kentucky">Kentucky</option>
        <option value="louisiana">Louisiana</option>
        <option value="maine">Maine</option>
        <option value="maryland">Maryland</option>
        <option value="massachusetts">Massachusetts</option>
        <option value="michigan">Michigan</option>
        <option value="minnesota">Minnesota</option>
        <option value="mississippi">Mississippi</option>
        <option value="missouri">Missouri</option>
        <option value="montana">Montana</option>
        <option value="nebraska">Nebraska</option>
        <option value="nevada">Nevada</option>
        <option value="new_hampshire">New Hampshire</option>
        <option value="new_jersey">New Jersey</option>
        <option value="new_mexico">New Mexico</option>
        <option value="new_york">New York</option>
        <option value="north_carolina">North Carolina</option>
        <option value="north_dakota">North Dakota</option>
        <option value="ohio">Ohio</option>
        <option value="oklhahoma">Oklahoma</option>
        <option value="oregon">Oregon</option>
        <option value="pennsylvania">Pennsylvania</option>
        <option value="rhode_island">Rhode Island</option>
        <option value="south_carolina">South Carolina</option>
        <option value="south_dakota">South Dakota</option>
        <option value="tennessee">Tennessee</option>
        <option value="texas">Texas</option>
        <option value="utah">Utah</option>
        <option value="vermont">Vermont</option>
        <option value="virginia">Virginia</option>
        <option value="washington">Washington</option>
        <option value="west_virginia">West Virginia</option>
        <option value="wisconsin">Wisconsin</option>
        <option value="wyoming">Wyoming</option>
      </select>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
 
{% endblock %}