<!-- code in a page for users to create a user and add it to the users db -->
<!-- this page should route back to the homepage, and flash an alert that states the user has created a login -->

<!-- I would like to find a more aesthetically pleasing way to display the words Username, Password, etc, 
in the way if you went to create an account on Google it's a "shadow" in the text box then moves above it... -->

{% extends 'base.html' %}
{% block title %}Mapping Fatal Police Shootings: Create your Account{% endblock %}

{% block body %}
<html>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
      <style>
      h1
      {
      color:white;
      font-family: 'Inconsolata', monospace;
      }
      body {
      color: white
      }
      </style>
      <br>
  <center><h1>CREATE YOUR ACCOUNT</h1></center>
  <br>
  <center><form action="/sign_up" method="POST">
    <p>
    <input name="username" type="text" style="color:black" placeholder="username" required>
    </p>
    <p>
    <input name="password" type="password" style="color:black" placeholder="password" required>
    </p>
    <p>
    <input name="email" type="text" style="color:black" placeholder="email">
    </p>
    <p>
    <input name="city" type="text" style="color:black" placeholder="city">
    </p>
    <p>
    <!-- <input name="state" type="text" style="color:black" placeholder="state"> -->
    <select name="state" style="color: black">
        <option style="color:#999" value="" disabled selected>state</option>
        <option value="alabama">Alabama</option>
        <option value="alaska">Alaska</option>
        <option value="arizona">Arizona</option>
        <option value="arkansas">Arkansas</option>
        <option value="california">California</option>
        <option value="colorado">Colorado</option>
        <option value="connecticut">Connecticut</option>
        <option value="delaware">Delaware</option>
        <option value="florida">Florida</option>
        <option value="georgia">Georgia</option>
        <option value="hawaii">Hawaii</option>
        <option value="idaho">Idaho</option>
        <option value="illinois">Illinois</option>
        <option value="indiana">Indiana</option>
        <option value="iowa">Iowa</option>
        <option value="kansas">Kansas</option>
        <option value="kentucky">Kentucky</option>
        <option value="louisiana">Louisiana</option>
        <option value="maine">Maine</option>
        <option value="maryland">Maryland</option>
        <option value="massachusetts">Massachusetts</option>
        <option value="michigan">Michigan</option>
        <option value="minnesota">Minnesota</option>
        <option value="mississippi">Mississippi</option>
        <option value="missouri">Missouri</option>
        <option value="montana">Montana</option>
        <option value="nebraska">Nebraska</option>
        <option value="nevada">Nevada</option>
        <option value="new_hampshire">New Hampshire</option>
        <option value="new_jersey">New Jersey</option>
        <option value="new_mexico">New Mexico</option>
        <option value="new_york">New York</option>
        <option value="north_carolina">North Carolina</option>
        <option value="north_dakota">North Dakota</option>
        <option value="ohio">Ohio</option>
        <option value="oklhahoma">Oklahoma</option>
        <option value="oregon">Oregon</option>
        <option value="pennsylvania">Pennsylvania</option>
        <option value="rhode_island">Rhode Island</option>
        <option value="south_carolina">South Carolina</option>
        <option value="south_dakota">South Dakota</option>
        <option value="tennessee">Tennessee</option>
        <option value="texas">Texas</option>
        <option value="utah">Utah</option>
        <option value="vermont">Vermont</option>
        <option value="virginia">Virginia</option>
        <option value="washington">Washington</option>
        <option value="west_virginia">West Virginia</option>
        <option value="wisconsin">Wisconsin</option>
        <option value="wyoming">Wyoming</option>
      </select>
    </p>
    <p>
      <input type="submit" style="color:white; background-color:#439D94">
    </p>
  </form></center>
</html>
 
{% endblock %}